@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a.active{
    color: rgb(192, 197, 235);
    border-bottom: 3px solid rgb(192, 197, 235);
    padding-bottom: 8px;
    transition: all;
    transition-duration: 200ms;
}
